html {
    font-size: 10px;
}
.hide{
    &.md {
        display: none;
    }

    &.lg {
        display: none;
    }
    &.sm {
        display: none;
    }
}

.center {
    text-align: center;
}

.flex {
    display: flex;
    
    &--space-around {
        justify-content: space-around;
    }
    &--space-between {
        justify-content: space-between;
    }
    &--column {
        flex-direction: column;
    }
    &.mobile-flex-dir-column {
        flex-direction: column;
    }
    &.mobile-flex-wrap {
        flex-wrap: wrap;
    }

}

.error {
    display: none;
    color:red;
    font-size: 1.4rem;
    position: absolute;
}


.list-unstyle  {
    list-style-type: none;
}

.btn {
    display: inline-block;
    box-shadow: none;
    border-radius: 3px;
    background: $menu-active;
    padding: 0.3rem 1.5rem;
    text-align: center;
    border: 1px solid $menu-active;
    &:hover {
        background: $btn-hover-color;
        border: 1px solid $btn-hover-color;
    }
    &-default {
        display: inline-block;
        box-shadow: none;
        border-radius: 3px;
        background: $menu-active;
        padding: 0.3rem 1.5rem;
        text-align: center;
        border: 1px solid $menu-active;
        text-transform: uppercase;
        color: $white;
     }
     &-lg{
        padding: 1.4rem 3.5rem;
        font-size: 1.5rem;
        line-height: 1.5;
     }
}

.bg-grey {
    background-color: $grey-bg-light;
}
.p-y-10 {
    padding-top: 1rem;

}
.p-y-20 {
    padding-top: 2rem;
}
.p-y-30 {
    padding-top: 3rem;
}
.p-y-40 {
    padding-top: 4rem;
}

.effect {
    opacity: 0;
    overflow: hidden;
    &-left {
        left: -90vw;
    }
    &-right {
        right: -90vw;
    }
    &-top {
        top: -10vh;
    }
    &-bottom {
        bottom: -10vh;
    }
}

.aminities-wrap {
    font-family: $font-work;
    font-size: $size-md;
    .aminities-icon {
        margin-top: 2rem;
        padding-bottom: 2rem;
    }

    h4.box-light-title {
        font-size: 1.8rem;
        font-family:$font-stand;
        font-weight: 400;
        padding-bottom:20px; 
    }
    
    .aminities-icon {
        font-size:3rem;
        color: #c19b76;
    }
}

.nowrap {
    white-space: nowrap;
}