@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Work+Sans');
@import './variables';
@import './common';
@import './nav';
@import './footer';
@import './animation';

.heroshot {
    padding: 10rem 0 5rem;
    background:url(./../../images/bg-image-2.jpg) no-repeat center center;
    box-sizing: border-box;
    .title {
        font-size: 3.4rem;
        color: $white;  
        padding: .8rem 3rem; 
        font-family: $oldstd; 
    }
    .sub-title {
        @extend .title;
        font-size: 1.8rem;
        margin-top:0rem;
        margin-bottom: 5rem; 
    }

    .contact-form {
        .form-row {
            margin: 1rem 1rem 0;
            position: relative;
            .select-opt {
                    font-family: $worksans;
                    line-height: 26px;
                    border-radius:6px;
                    background-color: #ffffff;
                    padding: 1.5rem 1.6rem;
                    color: $color-para; 
                    width: 100%;
                    border:1px solid #fff;
                    box-shadow: 0;
                    text-align: left;
                    font-size: 1.4rem;
                    &:focus, &:active {
                      outline: none;  
                    }
               }
            .dropdown {
                width: .71rem;
                height: .71rem;
                border-left: 1px solid $black;
                border-bottom: 1px solid $black;
                position: absolute;
                right: 2rem;
                top:1.8rem;
                transform: rotate(-45deg);
                transition: all 0.35s ease-in;
            }
            .list-unstyle {
                display: none;
                background: $white;
                font-family: $worksans;
                border-bottom-left-radius:3px;
                border-bottom-right-radius:3px; 
                li {
                    line-height: 3rem;
                    font-size: 1.4rem;
                    text-align: left;
                    cursor: pointer;
                    color: $grey-dark;
                    padding: 0 1.5rem;
                    &:hover{
                        background:$btn-color;
                        color:$white
                    }
                    &.active {
                        background: $menu-active;
                        color:$white;
                    }
                }
            }
          &.active {
              .list-unstyle {
                display: block;
              }
              .dropdown {
                transform: rotate(135deg);
              }
              .select-opt {
                  border-bottom-left-radius:0;
                  border-bottom-right-radius:0; 
              }
          }  
        }
        .btn {
            width: 100%;
            line-height: 2.6rem;
            border-radius: 6px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $white;
            padding: 1.4rem 0;
        }

    }
}

.section {
    padding: 5rem 1.5rem;
    .heading {
        font-family: $oldstd;
        padding-bottom: 2rem; 
        &-type-1 {
            font-size: 2.4rem;
            color: $color-para-dark;
            font-weight: 700;
        }
        em { 
            font-style: italic;
            font-weight: normal;
        }
    }
    .para {
        font-family: $worksans;
        font-size: 1.4rem;
        line-height: 2.35rem;
        color: $color-para;
        & + .para {
            margin-top:1rem; 
        }
    }
    .signature {
        padding-top:5rem; 
        img{
            text-align: left;
            display: inline-block;
        }
        .person-sign {
            font-family: $worksans;
            color:$color-para-dark;
            line-height: 3rem;
            font-size: 1.6rem;
            font-weight: 600;
        }
        .person-desg {
            font-family: $worksans;
            color:$color-para;
            font-size: 1.4rem;
        }
    }
    .left-sec {
        padding-top: 5rem; 
        overflow-x: hidden;
        img {
            width: 100%;
        }
    }
    
    .box-room {
        max-width: 100%;
        overflow: hidden;
        &:first-child {
            padding-top: 2rem;    
        }
        padding-top: 5rem;
        &:hover {
            .thumbnail-classic-caption {
                opacity: 1;
                z-index: 2;
            }    
        }
        .thumbnail-classic-caption {
            opacity: 0;
            transition: all 0.55s ease-in;
            color: $white;
            position: absolute;
            left: 3rem;
            bottom: 2rem;
            line-height: 3rem;
            text-align: left;
            .thumbnail-classic-title {
                font-family: $oldstd;
                font-size: 1.8rem;
            }
            .thumbnail-classic-text {
                font-family: $worksans;
                font-size: 1.4rem;
            }
        }
       
        figure {
            text-align: center;
            position: relative;
            cursor: pointer;
            &:hover {
                &:before {
                opacity: 1;
                visibility: visible;
                }
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(21,21,21,.4);
                transition: .4s ease-in-out;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                cursor: pointer;
               
            }
            
            &.gallary{
                overflow: hidden;
                width: 100%;
                min-height: 200px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center bottom;
                position: relative;
                z-index: 0;
                &::before{
                    content: '';
                    width: 100%;
                    position: absolute;
                    left: 0;
                    height: 100%;
                    top:0;
                    z-index: 1;
                    cursor: pointer;
                }
               &:hover{
                &::before{
                    background: rgba(0, 0, 0, 0.45);
                }
               } 
            }
        }

        li {
            line-height: 3.3rem;
        }
        .btn-effect {
            text-decoration: none;
            color: $menu-active;
            overflow-y: hidden;
            height: 2.8rem;
            position: relative;
            display: block;
            line-height: 2.8rem;
            margin-top: 1rem;
            .content-original {
                color: $menu-active;
                position: relative;
                transition: all 0.34s ease-in;
                top: 0px;
            }
            .content-dubbed {
                position: relative;
                bottom: -0.9rem;
                transition: all 0.34s ease-in;
            }
            &:hover, &:focus, &:active{
                .content-original {
                    color: $menu-active;
                    top: -3rem;
                }
                .content-dubbed {
                    bottom: 2.8rem;
                }
            }
        }

        .hover-effect{
            color: $menu-active;
            font-size: 1.8rem;
            font-weight: 400;
            font-family: $worksans;
           
            
            
            
        }
        .content-list {
            position: relative;
            display: block;
            font-size: 1.8rem;
            font-family: $worksans;
            font-weight: 400;
        }   
        .room-type {
            font-family: $oldstd;
            font-size: 1.8rem;
            line-height: 1.5;
            letter-spacing: 0;
        }
    }
}



