@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Work+Sans');
@import './variables';
@import './common';
@import './nav';

.heroshot {
    padding: 10rem 0 5rem;
    background:url(./../../images/bg-image-2.jpg) no-repeat center center;
    box-sizing: border-box;
    .title {
        font-size: 3.4rem;
        color: $white;  
        padding: .8rem 3rem; 
        font-family: $oldstd; 
    }
    .sub-title {
        @extend .title;
        font-size: 1.8rem;
        margin-top:0rem;
        margin-bottom: 5rem; 
    }

    .contact-form {
        .form-row {
            margin: 1rem 1rem 0;
            position: relative;
            .select-opt {
                    font-family: $worksans;
                    line-height: 26px;
                    border-radius:6px;
                    background-color: #ffffff;
                    padding: 1.5rem 1.6rem;
                    color: $color-para; 
                    width: 100%;
                    border:1px solid #fff;
                    box-shadow: 0;
                    text-align: left;
                    font-size: 1.4rem;
                    &:focus, &:active {
                      outline: none;  
                    }
               }
               .dropdown {
                   width: .71rem;
                   height: .71rem;
                   border-left: 1px solid $black;
                   border-bottom: 1px solid $black;
                   position: absolute;
                   right: 2rem;
                   top:1.8rem;
                   transform: rotate(-45deg);
                   transition: all 0.35s ease-in;
               }
            .list-unstyle {
                display: none;
                background: $white;
                font-family: $worksans;
                border-bottom-left-radius:3px;
                border-bottom-right-radius:3px; 
                li {
                    line-height: 3rem;
                    font-size: 1.4rem;
                    text-align: left;
                    cursor: pointer;
                    color: $grey-dark;
                    padding: 0 1.5rem;
                    &:hover{
                        background:$btn-color;
                        color:$white
                    }
                    &.active {
                        background: $menu-active;
                        color:$white;
                    }
                }
            }
          &.active {
              .list-unstyle {
                display: block;
              }
              .dropdown {
                transform: rotate(135deg);
              }
              .select-opt {
                  border-bottom-left-radius:0;
                  border-bottom-right-radius:0; 
              }
          }  
        }
        .btn {
            width: 100%;
            line-height: 2.6rem;
            border-radius: 6px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $white;
            padding: 1.4rem 0;
        }
    }
}

.section {
    padding: 5rem 1.5rem;
    .heading {
        font-family: $oldstd;
        padding-bottom: 2rem; 
        &-type-1 {
            font-size: 2.4rem;
            color: $color-para-dark;
            font-weight: 700;
        }
        em { 
            font-style: italic;
            font-weight: normal;
        }
    }
    .para {
        font-family: $worksans;
        font-size: 1.4rem;
        line-height: 2.35rem;
        color: $color-para;
        & + .para {
            margin-top:1rem; 
        }
    }
    .signature {
        padding-top:5rem; 
        img{
            text-align: left;
            display: inline-block;
        }
        .person-sign {
            font-family: $worksans;
            color:$color-para-dark;
            line-height: 3rem;
            font-size: 1.6rem;
            font-weight: 600;
        }
        .person-desg {
            font-family: $worksans;
            color:$color-para;
            font-size: 1.4rem;
        }
    }
}


